<?xml version="1.0" encoding="utf-8" ?>


<default color="Black" font="Courier New" size="10" style="Regular">

  <keyword color="Orange" font="Courier New" size="10" style="Bold" >

    <word>pass</word>
    <word>try</word>
    <word>and</word>
    <word>as</word>
    <word>assert</word>
    <word>break</word>
    <word>class</word>
    <word>continue</word>
    <word>class</word>
    <word>def</word>
    <word>del</word>
    <word>elif</word>
    <word>else</word>
    <word>except</word>
    <word>finally</word>
    <word>for</word>
    <word>from</word>
    <word>global</word>
    <word>if</word>
    <word>import</word>
    <word>in</word>
    <word>is</word>
    <word>lambda</word>
    <word>not</word>
    <word>or</word>
    <word>pass</word>
    <word>print</word>
    <word>raise</word>
    <word>return</word>
    <word>try</word>
    <word>while</word>
    <word>with</word>
    <word>yield</word>
    <word>exec</word>

  </keyword>

  <boolean color="Purple" font="Courier New" size="10" style="Regular" >

    <bool>None</bool>
    <bool>True</bool>
    <bool>False</bool>

  </boolean>

  <quote color="Green" font="Courier New" size="10" style="Regular"></quote>

  <comment color="Red" font="Courier New" size="10" style="Regular"></comment>

  <syntax color="Red" font="Courier New" size="10" style="Regular"></syntax>

</default>