<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- configuration settings -->
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="dsshost.log" />
    </sharedListeners>
    <switches>
      <!-- Network tracing
            value Description  
            0 Off—disables tracing
            1 Critical events are logged
            2 Errors are logged
            4 Warnings are logged
            8 Method call entry and exit is logged.
            16 Network traffic is logged. 
            -->
      <add name="System.Net.Sockets" value="1" />
      <add name="System.Net" value="1" />
      <add name="System.Net.Cache" value="1" />
      <!-- DSS Trace switch values: Off 0, Error 1, Warning 2, Info 3, Verbose 4 -->
      <add name="Microsoft.Ccr.Core" value="3" />
      <add name="Microsoft.Dss.Core" value="3" />
      <add name="Microsoft.Dss.Services.TestBase" value="3" />
      <add name="Microsoft.Dss.Services" value="3" />
      <add name="Microsoft.Dss.Services.Transports" value="3" />
      <add name="Microsoft.Dss.Services.Forwarders" value="3" />
    </switches>
    <!-- Here you can set up logging -->
    <trace autoflush="true" />
  </system.diagnostics>
  <appSettings>
    <!--Assembly resource name containing resources for default pages. Empty string will default to Microsoft.Dss.Runtime.Dll-->
    <add key="Microsoft.Dss.Core.DefaultRuntimeResources" value="" />
    <!-- Determines local file system access. Values:
              Read - No file writes performed by Dss core
              ReadWrite - Writes enabled (cache updates allowed)
              -->
    <add key="Microsoft.Dss.Core.LocalFileAccess" value="ReadWrite" />
    <!--Message Capture values:
            CaptureInbound
            CaptureOutbound
            CaptureInboundOutbound        
        -->
    <add key="Microsoft.Dss.Services.Forwarders.MessageCapture" value="" />
    <!-- DsspTimeoutTracking enables/disables expiration on all DsspOperations, using DsspOperation.DefaultShortTimeout -->
    <add key="Microsoft.Dss.Services.Forwarders.DsspTimeoutTracking" value="false" />
    <!-- DsspTimeScale determines the absolute Timeout values specified at runtime. 
             A scale of 2.0 multiplies all timespans specified by 2, effectively doubling all timeout values  -->
    <add key="Microsoft.Dss.Services.Forwarders.DsspTimeScale" value="1.0" />
    <!-- 
        <add key="Microsoft.Dss.Services.Transports.UseBinarySerialization" value="Disabled"/>
         -->
    <!-- Comment the line below to disable security -->
    <add key="Security" value="..\store\SecuritySettings.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" />
    </defaultProxy>
  </system.net>
</configuration>