<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--KeyWords-->
    <add key ="and"      value="1" />
    <add key ="as"       value="1" />
    <add key ="assert"   value="1" />
    <add key ="break"    value="1" />
    <add key ="class"    value="1" />
    <add key ="continue" value="1" />
    <add key ="def"      value="1" />
    <add key ="del"      value="1" />
    <add key ="elif"     value="1" />
    <add key ="else"     value="1" />
    <add key ="except"   value="1" />
    <add key ="finally"  value="1" />
    <add key ="for"      value="1" />
    <add key ="from"     value="1" />
    <add key ="global"   value="1" />
    <add key ="if"       value="1" />
    <add key ="import"   value="1" />
    <add key ="in"       value="1" />
    <add key ="is"       value="1" />
    <add key ="lambda"   value="1" />
    <add key ="not"      value="1" />
    <add key ="or"       value="1" />
    <add key ="pass"     value="1" />
    <add key ="print"    value="1" />
    <add key ="raise"    value="1" />
    <add key ="return"   value="1" />
    <add key ="try"      value="1" />
    <add key ="while"    value="1" />
    <add key ="with"     value="1" />
    <add key ="yield"    value="1" />
    <add key ="exec"     value="1" />
    <add key="None"      value="2" />
    <add key="True"      value="2" />
    <add key="False"     value="2" />
  </appSettings>
</configuration>