<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Config Settings for Python File-->
  <appSettings>
    
    <!--File Exentions-->
    <add key=".py" value=".py" />
    <add key=".ppy" value=".ppy" />
    
    <!--Shell Config-->
    <add key="Python" value="Python" />

    <!--Default Settings-->
    <add key="default" value="#000000" />  <!--Black-->
    <add key="d_font" value="Courier New" />
    <add key="d_size" value="10" />
    <add key="d_style" value="Regular" />
    
    <!--Quote Settings-->
    <add key="quote" value="#00008b" />   <!--Dark Blue-->
    <add key="q_font" value="Courier New" />
    <add key="q_size" value="10" />
    <add key="q_style" value="Regular" />
    
    <!--Double Quote Settings-->
    <add key="dd_quote" value="#00008b" /> <!--Dark Blue-->
    <add key="dd_font" value="Courier New" />
    <add key="dd_size" value="10" />
    <add key="dd_style" value="Regular" />
    
    <!--Comment Settings-->
    <add key="comment" value="#ff0000" /> <!--Red-->
    <add key="c_font" value="Courier New" />
    <add key="c_size" value="10" />
    <add key="c_style" value="10" />
    
    <!--KeyWord Settings-->
    <keyword
      and="#ffa500"
      as="#ffa500"
      assert="#ffa500"
      break="#ffa500"
      class="#ffa500"
      continue="#ffa500"
      def="#ffa500"
      del="#ffa500"
      elif="#ffa500"
      else="#ffa500"
      except="#ffa500"
      finally="#ffa500"
      for="#ffa500"
      from="#ffa500"
      global="#ffa500"
      if="#ffa500"
      import="#ffa500"
      in="#ffa500"
      is="#ffa500"
      lambda="#ffa500"
      not="#ffa500"
      or="#ffa500"
      pass="#ffa500"
      print="#ffa500"
      raise="#ffa500"
      return="#ffa500"
      try="#ffa500"
      while="#ffa500"
      with="#ffa500"
      yield="#ffa500"
      exec="#ffa500"
      None="#800080"
      True="#800080"
      False="#800080"
    />
    
    
  </appSettings>
</configuration>