<?xml version="1.0" encoding="utf-8" ?>
  <!--Config Settings for Python File-->
  
<!--Default Settings-->
  <settings color="Black" font="Courier New" size="10" style="Regular">

    <!--KeyWord Settings-->
    <keyword color="Orange" size="10" style="Bold" font="Courier New">

      <word>pass</word>
      <word>try</word>
      <word>and</word>
      <word>as</word>
      <word>assert</word>
      <word>break</word>
      <word>class</word>
      <word>continue</word>
      <word>class</word>
      <word>def</word>
      <word>del</word>
      <word>elif</word>
      <word>else</word>
      <word>except</word>
      <word>finally</word>
      <word>for</word>
      <word>from</word>
      <word>global</word>
      <word>if</word>
      <word>import</word>
      <word>in</word>
      <word>is</word>
      <word>lambda</word>
      <word>not</word>
      <word>or</word>
      <word>pass</word>
      <word>print</word>
      <word>raise</word>
      <word>return</word>
      <word>try</word>
      <word>while</word>
      <word>with</word>
      <word>yield</word>
      <word>exec</word>

    </keyword>

    <!--Special Keywords-->
    <boolean color="Purple" size="10" style="Bold" font="Courier New">

      <bool>None</bool>
      <bool>True</bool>
      <bool>False</bool>

    </boolean>

    <!--Quote Settings-->
    <quote color="Blue" font="Courier New" size="10" style="Regular">
      
      <special>'</special>
      <special>"</special>
      
    </quote>

    <!--Comment Settings-->
    <comment color="Red" font="Courier New" size="10" style="Regular">

      <com>#</com>
      
    </comment>
    
  </settings>